#大学での課題
uni_task/

#OS系
.DS_Store
Thumbs.db

#Node.js（Web系）
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python（実験・API）
__pycache__/
*.pyc
*.pyo
*.pyd
.env

#仮想環境
venv/
env/

#ビルド・生成ファイル
dist/
build/
*.log

#Jupyter Notebook
.ipynb_checkpoints/

#秘密情報
.env
*.key
*.pem

#IDE・エディタ
.vscode/
.idea/
